@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,700&display=swap");

$spacing: 1em;
$whiteColor: #ffffff;
$colorTheme: #0747a6;

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: #ffffff;
  overflow-x: hidden;
  height: 100%;
}

.bit_container {
  display: grid;
  grid-template-columns: 5em 17em 1fr;
  grid-template-areas: "stickyNav nav main";
  height: 100vh;
}

.sticky_nav {
  grid-area: stickyNav;
  background-color: $colorTheme;
  color: $whiteColor;
  padding: $spacing;
}

.expandable_nav {
  grid-area: nav;
  background-color: $colorTheme;
  color: $whiteColor;
  padding: 1.6em;
}

.main_container {
  grid-area: main;
  padding: $spacing;
  margin-top: 1em;
  color: #172b4d;
  overflow-x: hidden;
  overflow-y: auto;
}
